@import "../variables";

.header {
display: flex;
background-color: #e6ffeb4e;
color: $gray;
justify-content: space-between;
padding: 20px 40px;
.navigation{
ul{
  display: flex;
  li{
    margin: 0 10px;
color: $gray;

  }
}
}
.links{
  display: flex;
color: $gray;

}
}
